{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mskcreations/index.css' %}">
    <title>MSKCreations - {{page_title}}</title>
</head>
<body>
    <section id="header">
        <div class="overlay"></div>
        <div class="container-xl header-container">
            <nav>
                <div class="container-fluid nav-container">
                    <a href="#" class="navbar-brand">
                        <img src="{% static 'mskcreations/images/msk-text-logo.png' %}" alt="" class="img-fluid px-0 logo">
                    </a>
                </div>
            </nav>
            <div class="header-content p-4">
                <h1 class="display-1 header-text header-text-top">
                    Turning <span class="first">moments</span>
                </h1>
                <h1 class="display-1 header-text header-text-bottom">
                    into <span class="px-4">memories</span>
                </h1>
            </div>
            <div class="header-button">
                <a id="header-contact" href="#contact" class="btn py-3 px-5">Contact Us</a>
            </div>
        </div>
    </section>
    <section id="a-bit-of-heart" class="p-4 my-5">
        <div class="container-xl heart-container p-4">
            <div class="heart-content p-4">
                <div class="overlay"></div>
                <h1 class="heart-title py-4">
                    Events done with a bit of
                    <span>heart</span>
                </h1>
                <p class="heart-text mt-3">
                    Our main goal is to create experiences that go way beyond the norm by providing our clients 
                    with an integrated in-house service portfolio. Our team offers creative vision, professionalism, 
                    and expertise to create the best experience with constant care, attention to detail, originality 
                    and more than satisfying results. <span class="heart-span d-none d-md-block">Our focus is on the customer's need and the quality of service, 
                        by offering extended service to our clients and, therefore, building the relationship of a lifetime. 
                        With time, we intend to establish our services worldwide, which will expand the public's knowledge 
                        of us and our services.</span>
                </p>
            </div>
        </div>
    </section>
    <section id="services" class="p-4">
        <div class="container-xl services-container">
            <div class="services-logo">
                <img src="{% static 'mskcreations/images/msk-logo-black.png' %}" alt="" class="my-4 services-logo">
            </div>
            <h1 class="services-heading mt-4">Our Services</h1>
            <div class="services-grid p-4 mt-5">
                <div class="services-column p-3">
                    <div class="services-card">
                        <div class="services-card-overlay overlay-one"></div>
                        <div class="services-content">
                            <p class="services-title p-0 m-0">Management</p>
                            <p class="services-description p-2 m-0">
                                Set up & decoration • Catering • Staff (Bartender - waiters etc...) • Sound & Light • Artists • Videography • Photography
                            </p>
                        </div>
                    </div>
                </div>
                <div class="services-column p-3">
                    <div class="services-card">
                        <div class="services-card-overlay overlay-two"></div>
                        <div class="services-content">
                            <p class="services-title p-0 m-0">Entertainment</p>
                            <p class="services-description p-2 m-0">
                                DJS • hosts• MCs• musicians • traditional dancers• bands• kids entertainment
                            </p>
                        </div>
                    </div>
                </div>
                <div class="services-column p-3">
                    <div class="services-card">
                        <div class="services-card-overlay overlay-three"></div>
                        <div class="services-content">
                            <p class="services-title p-0 m-0">Production</p>
                            <p class="services-description p-2 m-0">
                                • Light and sound system installation & renting • Audio Visual Equipments • LED screens & Projections • Dance floors & stages • Furniture & Decor • Backdrop & mapping
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="vision-mission" class="p-4">
        <div class="container-xl p-4">
            <div class="vision-mission-img">
                <img src="{% static 'mskcreations/images/vision-bg.jpeg' %}" alt="">
            </div>
            <div class="vision-mission">
                <div class="vision p-4">
                    <h1 class="vision-title">our<br>vision</h1>
                    <p class="vision-description">
                        “to conduct business that is ethical<br>
                        and reliable while meeting our clients<br>
                        expectations”
                    </p>
                </div>
                <div class="mission p-4">
                    <h1 class="mission-title">our<br>mission</h1>
                    <p class="mission-description">
                        to motivate, support and create a gran<br>
                        impression on our staff, suppliers<br> 
                        and clients
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container-fluid contact-container p-0 m-0">
            <div class="contact-text p-5">
                <div class="display-3 contact-title">
                    Get in touch
                </div>
                <p class="contact-text mt-4">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos quas officia placeat animi harum ipsa. Magni tempore esse, cumque velit aut vel debitis odit beatae deserunt eos, sapiente sit quo.
                    Magnam quis excepturi necessitatibus voluptas, nobis aspernatur, fugiat blanditiis commodi eos dolore itaque quam! Ullam eum modi illo aliquid officiis, ea amet soluta temporibus odio tempora? Id corrupti impedit unde.
                </p>
            </div>
            <form action="#" method="post" class="m-lg-5">
                {% csrf_token %}
                <div class="contact-block">
                    <div class="block-item m-2">
                        <label for="id_first_name">First name:</label>
                        <input type="text" name="first_name" required="" id="id_first_name">
                    </div>
                    <div class="block-item m-2">
                        <label for="id_last_name">Last name:</label>
                        <input type="text" name="last_name" required="" id="id_last_name">
                    </div>
                </div>
                <div class="contact-block">
                    <div class="block-item m-2">
                        <label for="id_email">Email:</label>
                        <input type="email" name="email" maxlength="320" required="" id="id_email">
                    </div>
                    <div class="block-item m-2">
                        <label for="id_subject">Subject:</label>
                        <select name="subject" id="id_subject">
                            <option value="event_management">Event Management</option>  
                            <option value="event_entertainment">Event Entertainment</option>  
                            <option value="event_production">Event Production</option>  
                        </select>
                    </div>
                </div> 
                <div class="block-item m-2">
                    <label for="id_message">Message:</label>
                    <textarea name="message" cols="40" rows="10" required="" id="id_message"></textarea>  
                </div>                    
                <button type="submit" id="form_submit" class="px-5 py-2 m-2">Send</button>
            </form>
        </div>
    </section>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} m-0">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <footer>
        <div class="container-fluid p-0">
            <div class="row align-items-center justify-content-center m-0">
                <div class="col-3 footer-logo text-center">
                    <img src="{% static 'mskcreations/images/msk-text-logo.png' %}" alt="" class="img-fluid">
                </div>
                <div class="col-3 text-center text-md-start align-items-center">
                    <p class="lead footer-address-title">LOCATION</p>
                    <p class="footer-address-text">Golden Sun Crescent Singel, Glen Eagle Estate</p>
                </div>
                <div class="col-3 text-center text-md-start align-items-center">
                    <p class="lead footer-address-title">Email Address</p>

                    <p class="footer-address-text">inquiries@mskcreations.com</p>
                </div>
                <div class="col-3 text-center text-md-start align-items-center">
                    <p class="lead footer-address-title">Phone Number</p>
                    <p class="footer-address-text">+27 071 666 4569</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="{% static 'MSKCreations/index.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>