@font-face {
    font-family: 'Breathing';
    src: url('/static/MSKCreations/fonts/Breathing/breathing.woff2') format('woff2'),
        url('/static/MSKCreations/fonts/Breathing/breathing.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'The Seasons';
    src: url('/static/MSKCreations/fonts/TheSeasons/theseason-regular.woff2') format('woff2'),
        url('/static/MSKCreations/fonts/TheSeasons/theseason-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Italic Seasons';
    src: url('/static/MSKCreations/fonts/TheSeasons/theseasons-italic.woff2') format('woff2'),
        url('/static/MSKCreations/fonts/TheSeasons/theseasons-italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: url('images/msk-header.jpg') no-repeat center;
    background-size: cover;
}

.header-container {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay {
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0000003a;
}

nav {
    height: 20%;
}

.nav-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 10rem;
}

.header-content {
    height: 60%;
    display: grid;
    position: relative;
    place-content: center;
}

.header-text {
    font-size: 5rem;
    color: #ffffff;
    font-style: normal;
    font-family: 'The Seasons', 'League Spartan';
}

.header-text .first{
    font-style: normal;
    font-family: 'The Seasons', 'League Spartan';
}

.header-text span{
    font-family: 'Breathing', 'Poppins';
}

.header-text-top {
    transform: translateX(-8rem);
}

.header-text-bottom {
    transform: translateX(8rem);
}

.header-button {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header-contact {
    color: #ffffff;
    border-radius: 0;
    border: 3px solid #ffffff;
    font-family: 'Poppins', 'League Spartan';
}

#header-contact:hover {
    color: #d68d65;
    background-color: #ffffff;
}

#a-bit-of-heart {
    height: 100%;
}

.heart-container {
    height: 100%;
    border: 1px solid #d49c7e;
}

.heart-content {
    height: 100%;
    position: relative;
    background: url('images/a-bit-of-heart.jpg') no-repeat center;
    background-size: cover;
}

.heart-title {
    z-index: 1;
    height: 20%;
    font-size: 4rem;
    color: #ffffff;
    text-align: center;
    position: relative;
    font-family: 'Breathing', 'Dancing Script';
}

.heart-title span {
    display: block;
    color: #d49c7e;
}

.heart-text {
    height: 80%;
    z-index: 1;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    position: relative;
    font-family: 'Poppins', 'League Spartan';
}

#services {
    height: 100%;
    background-color: #F8EDE1;
}

.services-container {
    height: 100%;
    border: 1px solid #d49c7e;
}

.cards {
    height: 70%;
}

.services-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-logo img {
    height: 6rem;
}

.services-heading {
    font-size: 4rem;
    color: #d49c7e;
    text-align: center;
    font-family: 'Breathing', 'Dancing Script';
}

.services-grid {
    display: grid;
    column-gap: 2rem;
    grid-template-rows: 18rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.services-column {
    border-radius: 4px;
    background-color: #ffffff;
}

.services-card {
    height: 100%;
    position: relative;
}

.services-card-overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

.services-card-overlay.overlay-one {
    background: url('images/service-card-1.jpg') no-repeat center;
    background-size: cover;
}

.services-card-overlay.overlay-two {
    background: url('images/service-card-2.jpeg') no-repeat center;
    background-size: cover;
}

.services-card-overlay.overlay-three {
    background: url('images/service-card-3.jpg') no-repeat center;
    background-size: cover;
}

.services-content {
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    background-color: #00000052;
}

.services-title, .services-description {
    color: #ffffff;
    font-family: 'Poppins';
}

.services-title {
    height: 25%;
    display: grid;
    font-weight: 600;
    font-size: 1.4rem;
    place-content: center;
}

.services-description {
    height: 75%;
    font-weight: 500;
}

#vision-mission {
    height: 100vh;
}

#vision-mission .container-xl {
    height: 100%;
    display: flex;
    border: 1px solid #d49c7e;
}

.vision-mission-img, .vision-mission {
    width: 50%;
    height: 100%;
}

.vision-mission-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vision, .mission {
    height: 50%;
    color: #d49c7e;
}

.vision-title, .mission-title {
    font-size: 4rem;
    font-weight: 900;
    line-height: 3.2rem;
    letter-spacing: -3px;
    font-family: 'League Spartan';
}

.vision-description, .mission-description {
    font-size: 1.5rem;
    letter-spacing: -2px;
    font-family: 'Poppins';
}

#contact {
    height: 100%;
    background: url('images/contact-bg.jpg') no-repeat center;
    background-size: cover;
}

.contact-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #00000067;
}

.contact-text {
    flex: 0.4;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Poppins';
}

.contact-title {
    color: #ffffff;
    font-weight: 700;
    font-family: 'League Spartan';
}

form {
    flex: 0.6;
}

.contact-block {
    display: flex;
}

.contact-block > .block-item {
    flex: 0.5;
}

label {
    display: block;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Poppins';
}

input, select{
    width: 100%;
    padding: 2vh;
}

input, textarea, select{
    border: 0;
    outline: none;
    color: #ffffff;
    font-weight: 600;
    background-color: #d49c7eaf;
}

#form_submit {
    color: #ffffff;
    font-weight: 600;
    border: 2px solid #ffffff;
    background-color: #d49c7e;
    transition: all 0.3s;
    font-family: 'Poppins';
}

#form_submit:hover {
    background-color: #d68d65;
}

.alert {
    width: 30vw;
    bottom: 4vh;
    right: 5vw;
    position: fixed;
}

footer {
    height: 40vh;
    font-family: 'The Seasons';
    background-color: #d49c7e;
}

footer p {
    color: #ffffff;
}

.footer-logo img{
    height: 38vh;
}